.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 102px auto 0 0;
  padding: 10px 157px 10px 156px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-style: italic;
  margin: -39px 31px 0 510px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -196px auto 0 0;
  padding: 10px 135px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -128px auto 0 0;
  padding: 9px 103px 11px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 137px auto 0 0;
  padding: 10px 117px 10px 116px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -304px auto 60px 0;
  padding: 10px 157px 10px 156px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
    margin-left: 491px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -269px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 90px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -67px;
    margin-left: 271px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 126px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -122px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 125px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 86px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 91px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 96px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -107px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 90px;
    padding-left: 89px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -93px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 95px;
    padding: 9px 68px 11px 67px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -106px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 37px;
    padding-bottom: 10px;
    padding-left: 35px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 96px;
    padding-left: 48px;
    padding-right: 48px;
  }
}