.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 46px 0 0 541px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -320px auto 0 0;
  padding: 10px 157px 10px 156px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0 0;
  padding: 9px 163px 11px 161px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding: 9px 104px 11px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0 0;
  padding: 10px 135px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0 0;
  padding: 10px 117px 10px 116px;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 60px 0;
  padding: 10px 196px 10px 194px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-left: 458px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -346px;
    padding: 9px 116px 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 24px;
    padding: 10px 121px;
  }

  .u-section-1 .u-btn-3 {
    padding: 10px 63px 10px 62px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 24px;
    padding-top: 9px;
    padding-right: 95px;
    padding-left: 93px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 24px;
    padding-right: 76px;
    padding-bottom: 11px;
    padding-left: 74px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 155px;
    padding-bottom: 11px;
    padding-left: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -277px;
    margin-left: 238px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 92px;
    margin-left: auto;
    padding: 22px 117px 23px 115px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 35px;
    margin-left: auto;
    padding-top: 22px;
    padding-right: 122px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-btn-3 {
    filter: none;
    margin-top: 35px;
    margin-left: auto;
    padding-top: 22px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 35px;
    margin-left: auto;
    padding: 22px 94px 23px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 35px;
    margin-left: auto;
    padding: 22px 75px 24px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 35px;
    margin-left: auto;
    padding-top: 22px;
    padding-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -285px;
    margin-left: 58px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -324px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 90px;
    padding-left: 89px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 95px;
    padding-left: 94px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 36px;
    padding-left: 36px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 68px;
    padding-left: 67px;
  }

  .u-section-1 .u-btn-5 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 129px;
    padding-bottom: 24px;
    padding-left: 127px;
  }
}