.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0 46px;
  padding: 10px 157px 10px 156px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 618px;
  padding: 10px 117px 10px 116px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0 620px;
  padding: 10px 196px 10px 194px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 46px;
  padding: 9px 163px 11px 161px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 25px auto 0 46px;
  padding: 9px 104px 11px 103px;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 620px;
  padding: 9px 130px 11px;
}

.u-section-1 .u-btn-7 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0 620px;
  padding: 9px 99px 11px 98px;
}

.u-section-1 .u-btn-8 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 46px;
  padding: 10px 135px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 75px 85px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 67px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 70px;
    margin-left: 33px;
    padding: 9px 116px 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -40px;
    margin-left: 514px;
    padding-right: 76px;
    padding-bottom: 11px;
    padding-left: 74px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
    margin-left: 514px;
    padding-left: 154px;
    padding-right: 154px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -40px;
    margin-left: 33px;
    padding: 10px 121px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 33px;
    padding: 10px 63px 10px 62px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 514px;
    padding-right: 90px;
    padding-bottom: 10px;
    padding-left: 89px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 514px;
    padding-left: 57px;
    padding-right: 57px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 33px;
    padding-top: 9px;
    padding-right: 95px;
    padding-left: 93px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 71px;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 75px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-left: 23px;
    padding: 15px 70px 16px 69px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -50px;
    margin-right: 23px;
    margin-left: auto;
    padding: 15px 29px 15px 28px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 23px;
    margin-left: auto;
    padding: 16px 108px 17px 107px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -53px;
    margin-left: 23px;
    padding: 16px 75px 18px 74px;
  }

  .u-section-1 .u-btn-5 {
    filter: none;
    margin-left: 23px;
    padding: 16px 16px 17px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -53px;
    margin-right: 23px;
    margin-left: auto;
    padding: 16px 43px 18px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 24px;
    margin-right: 23px;
    margin-left: auto;
    padding: 16px 12px 17px 10px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -52px;
    margin-left: 23px;
    padding: 16px 49px 16px 47px;
  }

  .u-section-1 .u-text-1 {
    margin: 75px 0 60px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 75px;
    margin-left: auto;
    padding: 9px 132px 11px 130px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 211px;
    margin-right: auto;
    padding: 9px 91px 10px 90px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 23px;
    margin-right: auto;
    padding: 9px 170px 9px 169px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -287px;
    margin-left: auto;
    padding: 9px 136px 11px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 23px;
    margin-left: auto;
    padding: 10px 78px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 208px;
    margin-right: auto;
    padding: 9px 106px 9px 104px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 23px;
    margin-right: auto;
    padding: 9px 73px 9px 72px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -282px;
    margin-left: auto;
    margin-bottom: 60px;
    padding: 10px 110px 10px 109px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -664px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    padding-left: 89px;
    padding-right: 89px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 219px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 48px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 129px 10px 127px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -298px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 95px;
    padding-left: 94px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 36px;
    padding-right: 36px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 219px;
    padding-right: 63px;
    padding-left: 62px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 32px;
    padding-left: 30px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -295px;
    padding-right: 68px;
    padding-left: 67px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -671px;
  }
}